<template>

  <el-card
    :body-style="{ padding: '0px' }"
    shadow="hover"
  >
    <img :src="imgUrl" class="image">
    <div style="padding: 14px;">
      <p>{{ name }}</p>
      <p>{{$t('price')}}: {{ price }}</p>
      <b :class="availableClassStatus">{{ availableStatus }}</b>
    </div>
  </el-card>
</template>

<script>
export default {
  props: {
    imgUrl: {
      type: String
    },
    name: {
      type: String
    },
    price: {
      type: Number
    },
    isAvailable: {
      type: Boolean
    }
  },

  computed: {
    availableStatus () {
      return !this.isAvailable ? 'Absent' : ''
    },

    availableClassStatus () {
      return !this.isAvailable ? 'red' : ''
    }
  }

}
</script>

<style lang="scss" scoped>
  .el-card {
    max-width: 307px;
    max-height: 355px;
    padding: 0;
    margin-bottom: 15px;
    margin-right: 20px;
  }
  .image {
    width: 100%;
    display: block;
  }

  .red {
    color: red;
  }
</style>
