<template>
  <el-container
    v-loading="loading"
  >
    <div class="filte-container" v-if="!loading">
      <SideBarMenu
        @submitFiler="setPriseFilterProps"
      />
      <div class="cards">
        <div
          v-if="paginatedData.length"
          class="card-wrapper"
        >
          <Card
            v-for="card in paginatedData"
            :key="card.id"
            :imgUrl="card.imgUrl"
            :name="card.name"
            :price="card.price"
            :isAvailable="card.isAvailable"
          />
        </div>
        <div v-else>{{$t('emptyProductListMessage')}}</div>
        <div class="pagination-container">
          <el-pagination
            v-if="paginatedData.length"
            class="pagination"
            @current-change="handleCurrentChange"
            :page-size="size"
            layout="prev, pager, next"
            :total="visibleCards.length">
          </el-pagination>
        </div>
      </div>
    </div>
  </el-container>
</template>

<script>
import Card from './Card'
import { mapActions, mapGetters } from 'vuex'
import SideBarMenu from '../nav/SideBarMenu'
import isEmpty from 'lodash/isEmpty'

export default {
  components: { Card, SideBarMenu },

  data () {
    return {
      filter: {
        priceFilter: {
          from: 0,
          to: Infinity
        },
        availableStatus: false,
        checkList: []
      },
      pageNumber: 1,
      size: 5
    }
  },

  computed: {
    ...mapGetters([
      'cards',
      'loading'
    ]),

    contentVisible () {
      if (this.cards === null || this.cards.length) {
        return true
      } else {
        return false
      }
    },

    availability () {
      return this.filter.availableStatus
    },

    isPriceFilterInactive () {
      return this.filter.priceFilter.from === 0 && this.filter.priceFilter.to === Infinity
    },

    defaultFilterStatus () {
      return this.isPriceFilterInactive && !this.availability && isEmpty(this.filter.checkList)
    },

    visibleCards () {
      if (this.defaultFilterStatus) {
        return this.cards
      }

      if (this.availability) {
        let res = []
        if (isEmpty(this.filter.checkList)) {
          res = this.cards.filter(card => card.price >= this.filter.priceFilter.from && card.price <= this.filter.priceFilter.to)
                          .filter(card => card.isAvailable === true)
        } else {
          res = this.filteredListWithCategoties()
                    .filter(card => card.price >= this.filter.priceFilter.from && card.price <= this.filter.priceFilter.to)
                    .filter(card => card.isAvailable === true)
        }
        return res
      } else if (!isEmpty(this.filter.checkList)) {
          return this.filteredListWithCategoties()
                     .filter(card => card.price >= this.filter.priceFilter.from && card.price <= this.filter.priceFilter.to)
      } else {
        return this.cards.filter(card => card.price >= this.filter.priceFilter.from && card.price <= this.filter.priceFilter.to)
      }
    },

    paginatedData () {
      const start = (this.pageNumber - 1) * this.size
      const end = start + this.size
      return this.visibleCards.slice(start, end)
    }
  },

  mounted () {
    this.fetchCards()
  },

  methods: {
    ...mapActions([
      'fetchCards'
    ]),

    handleCurrentChange (val) {
      this.pageNumber = val
    },

    setPriseFilterProps (propers) {
      this.filter.priceFilter.from = propers.from
      if (propers.to === 0) {
        this.filter.priceFilter.to = Infinity
      } else {
        this.filter.priceFilter.to = propers.to
      }
      console.log(this.filter.priceFilter.to)
      this.filter.availableStatus = propers.avilable
      this.filter.checkList = propers.checkList
    },

    filteredListWithCategoties () {
      return this.cards.filter(card => {
        let status = false
        card.categories.forEach(category => {
          if (this.filter.checkList.includes(category)) {
            status = true
          }
        })
        if (status) {
          return card
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>

  .filte-container {
    width: 100%;
    display: flex;
    padding: 40px 0 0;
    flex-direction: row;
    justify-content: flex-start;
    .cards {
      width: 100%;
      min-height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 50px;
      .card-wrapper {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        flex: 1 0 auto;
      }
      .pagination-container {
        display: flex;
        justify-content: center;
        width: 100%;
        align-self: flex-end;
        flex: 0 0 auto;
      }
    }
  }

  .el-container {
    display: block;
    width: 100%;
    height: 100vh;
    margin-top: 30px;
    justify-content: center;
  }
</style>
