<template>
 <el-container v-loading="loading">
   <div class="error-container">
    <h1>
      {{ $t('404ErrorMess') }}
    </h1>
      <p>
        {{ $t('pleaseReturnMess') }}
          <router-link
            v-if="isUserLogedIn"
            tag="span"
            to="/"
          >
            <el-link type="primary" :underline="false">{{ $t('home') }}</el-link>
          </router-link>

          <span v-else>
            <router-link
              tag="span"
              to="/login"
            >
              <el-link type="primary" :underline="false">{{ $t('logIn') }}</el-link>
            </router-link>
            /
            <router-link
              tag="span"
              to="/registration"
            >
              <el-link type="primary" :underline="false">{{ $t('registration') }}</el-link>
            </router-link>
          </span>
          {{ $t('pageMess') }}.
      </p>
   </div>
 </el-container>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  computed: {
    ...mapGetters([
      'loading',
      'isUserLogedIn'
    ])
  },
  methods: {
    ...mapActions([
      'checkLoginUser'
    ])
  }
}
</script>

<style lang="scss" scoped>
  .el-container {
    align-items: center;
  }

  .error-container {
    text-align: center;
  }

  h1 {
    font-size: 1.5rem;
  }
</style>
