<template>
  <div class="registration-container">
    <h1 class="title">{{ $t('registration') }}</h1>
    <el-form @submit.native.prevent="onSubmit()">
      <el-form-item :label="$t('email')">
        <el-input
        v-model="$v.email.$model"
        :placeholder="$t('email')"
        type="email"
        ></el-input>
      </el-form-item>
      <el-form-item :label="$t('password')">
        <el-input
          type="password"
          v-model="$v.password.$model"
          show-password
          :placeholder="$t('password')"
        ></el-input>
        <el-row>
          <el-col :span="24">
            <p
              class="password-info-string"
              v-if="!$v.password.minLength"
            >
              <i18n path="lengthOfPassword">
                <template #number>
                  <span>{{ $v.password.$params.minLength.min }}</span>
                </template>
              </i18n>
            </p>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24">
            <p
              class="password-info-string"
              v-if="!$v.password.passwordValidation && $v.password.$dirty"
            >
              {{$t('symbolsInPsaaword')}}
            </p>
          </el-col>
        </el-row>
      </el-form-item>
      <el-form-item :label="$t('repeatPassword')">
        <el-input
          type="password"
          v-model="$v.acceptPassword.$model"
          :placeholder="$t('repeatPassword')"
        ></el-input>
        <el-row>
          <el-col :span="24">
            <p
              class="password-info-string"
              v-if="!$v.acceptPassword.acceptPassword && $v.acceptPassword.$dirty"
            >
              {{$t('equalityOfPasswords')}}
            </p>
          </el-col>
        </el-row>
      </el-form-item>
      <el-form-item>
        <el-row>
          <el-col :span="24">
            <p>
              <i18n path="goToLogInMessage">
                <template #link>
                  <router-link
                    tag="span"
                    to="/login"
                  >
                    <el-link type="primary" :underline="false">{{ $t('logIn') }}</el-link>
                  </router-link>
                </template>
              </i18n>
            </p>
          </el-col>
        </el-row>
      </el-form-item>
      <el-form-item>
        <el-button
          type="primary"
          native-type="submit"
          :loading="loading"
          :disabled="loading || $v.$invalid"
          class="submit-btn"
        >
          {{ $t('signUp') }}
        </el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { Message } from 'element-ui'
import { required, minLength, email, sameAs } from 'vuelidate/lib/validators'
import isEmpty from 'lodash/isEmpty'

export default {
  name: 'Registration',
  data () {
    return {
      email: null,
      password: null,
      acceptPassword: null
    }
  },

  validations: {
    password: {
      required,
      minLength: minLength(6),
      passwordValidation: (value) => !isEmpty((value || '').match(/(?=.*[0-9])(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z])/))
    },
    email: {
      required,
      email
    },
    acceptPassword: {
      acceptPassword: sameAs('password')
    }
  },

  computed: {
    ...mapGetters([
      'loading'
    ])
  },

  methods: {
    ...mapActions([
      'registerUser'
    ]),

    onSubmit () {
      const user = {
        email: this.email,
        password: this.password
      }
      this.registerUser(user)
        .then(() => this.$router.push('/'))
        .catch(error => {
          this.errorMessage = error.message
          Message.error(this.errorMessage)
        })
    }
  }
}
</script>

<style lang="scss" scoped>
  .registration-container {
    max-width: 70%;
  }

  .title {
    text-align: center;
  }

  .submit-btn {
    display: block;
    margin: auto;
  }

  .password-info-string {
    line-height: 20px;
    font-size: .68rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(180, 22, 22)
  }
</style>
