<template>
  <div class="contaner">
    <h1 class="title">{{ $t('signIn') }}</h1>
    <el-form @submit.native.prevent="onSubmit()">
      <el-form-item :label="$t('email')">
        <el-input
          v-model="$v.email.$model"
          type="email"
        ></el-input>
      </el-form-item>
        <el-form-item :label="$t('password')">
        <el-input
          v-model="$v.password.$model"
          type="password"
        ></el-input>
      </el-form-item>
      <el-form-item>
        <el-row>
          <el-col :span="6" :offset="18">
            <router-link
              tag="p"
              to="/registration"
            >
              <el-link type="primary" :underline="false">{{ $t('signUp') }}</el-link>
            </router-link>
          </el-col>
        </el-row>
      </el-form-item>
      <el-form-item>
        <el-button
          type="primary"
          native-type="submit"
          class="submit-btn"
          :disabled="loading || $v.$invalid"
          :loading="loading"
        >
          {{ $t('signIn') }}
        </el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { Message } from 'element-ui'
import { required, email } from 'vuelidate/lib/validators'

export default {
  data () {
    return {
      email: null,
      password: null,
      errorMessage: null
    }
  },

  validations: {
    email: {
      required,
      email
    },
    password: {
      required
    }
  },

  computed: {
    ...mapGetters([
      'loading'
    ])
  },

  methods: {
    ...mapActions([
      'loginUser'
    ]),
    onSubmit () {
      const user = {
        email: this.email,
        password: this.password
      }
      this.loginUser(user)
        .then(() => this.$router.push('/'))
        .catch(error => {
          this.errorMessage = error.message
          Message.error(this.errorMessage)
        })
    }
  }
}
</script>

<style lang="scss" scoped>
  .contaner {
    max-width: 70%;
  }

  .title {
    text-align: center;
  }

  .submit-btn {
    display: block;
    margin: auto;
  }
</style>
