<template>
  <div class="wrapper">
    <div class="calendar-container">
      <el-row>
        <el-col :span="12">
          <p class="current-month">{{ this.year }} {{ $t('months')[this.month] }}</p>
        </el-col>
        <el-col :span="12">
          <div class="btn-container">
            <el-button-group>
              <el-button
                size="mini"
                icon="el-icon-arrow-left"
                @click="previosMonth()"
              >
               {{ $t('previousMonth') }}
              </el-button>
              <el-button
                @click="nextMonth()"
                size="mini"
              >
                {{ $t('nextMonth') }} <i class="el-icon-arrow-right"></i>
              </el-button>
            </el-button-group>
          </div>
        </el-col>
      </el-row>
      <el-divider></el-divider>
      <div class="days-of-week">
        <div
        class="day-of-week"
          v-for="day in $t('daysOfWeek')"
          :key="day"
        >
          {{ day }}
        </div>
      </div>
      <div class="calendar">
        <div
          v-for="entry in days"
          :key="entry.key"
          class="dv"
          :class="[entry.hours !== 0 ? (entry.hours <= 8 ? 'green' : 'red') : '']"
          @click="openWindow(entry.date, entry.hours, entry.key)"
        >
          {{ entry.date.substring(8, 10) }}
        <p class="hours">{{$t('hoursMess')}}: {{ entry.hours }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import * as moment from 'moment/moment'

export default {
  data () {
    return {
      year: '',
      month: ''
    }
  },

  created () {
    this.year = moment().format('YYYY')
    this.month = moment().format('MM')
  },

  computed: {
    ...mapGetters([
      'entries'
    ]),

    days () {
      const daysArr = []
      for (let i = 0; i < moment(`${this.year}-${this.month}`, 'YYYY-MM').daysInMonth(); i++) {
        let key = null
        let date = `${this.year}-${this.month}-${i + 1}`
        let hours = 0
        if (this.entries !== null) {
          for (let j = 0; j < this.entries.length; j++) {
            if (this.entries[j].date === date) {
              hours = this.entries[j].hours
              key = this.entries[j].key
            }
          }
        }
        const day = {
          date, hours, key
        }
        daysArr.push(day)
      }
      return daysArr
    }
  },

  methods: {
    ...mapActions([
      'fetchEntries'
    ]),

    openWindow (date, hours, key) {
      this.$emit('openWindow', { status: true, date, hours, id: key })
    },

    nextMonth () {
      if (this.month === '12') {
        this.year++
        this.month = '01'
      } else {
        this.month++
        if (this.month < 10) {
          this.month = '0' + this.month
        }
        this.month = String(this.month)
      }
    },

    previosMonth () {
      if (this.month === '01') {
        this.year--
        this.month = '12'
      } else {
        this.month--
        if (this.month < 10) {
          this.month = '0' + this.month
        }
        this.month = String(this.month)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .wrapper {
    display: flex;
    justify-content: center;
    .calendar-container {
      margin-top: 20px;
      width: 80%;
      .btn-container {
        display: flex;
        justify-content: flex-end;
      }

      .current-month {
        font-size: 1.5rem;
        color: #606266;
      }

      .el-divider--horizontal {
        margin: 18px 0;
      }
      .calendar {
        max-width: 100%;
        margin-top: 5px;
        display: flex;
        flex-flow: wrap;
        .dv {
          cursor: pointer;
          width: 13%;
          height: 60px;
          border: 1px solid #E4E7ED;
          padding: 5px;
          .hours {
            margin-top: 15px;
          }
          .dv:hover {
            background-color: rgba(rgb(116, 185, 253), .2);
          }
        }
        .green {
          background-color: rgba(83, 255, 98, 0.678);
        }

        .red {
          background-color: rgba(248, 76, 76, 0.678);
        }
      }
      .days-of-week {
        display: flex;
        justify-content: flex-start;
        color: #606266;
        .day-of-week {
          width: 14%;
          text-align: center;
          border: 1px solid transparent;
          box-sizing: border-box;
        }
      }
    }
  }

  .el-row {
    margin-top: 10px;
  }

  .dv {
    width: 30%;
    height: 50px;
    border: 1px solid #000;
  }

  .container {
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
</style>
