<template>
  <el-container
    v-loading="loading">
    <el-row>
      <el-col :span="5">
        <el-button
          v-if="!loading"
          type="primary"
          icon="el-icon-plus"
          @click="addNewEntry()"
        >
          {{$t('addNewEntryButton')}}
        </el-button>
      </el-col>
    </el-row>
    <Calendar
      @openWindow="openWind"
      v-if="!loading"
    />
    <NewEntry
      :date="date"
      :hours="hours"
      :entryId="entryId"
      v-if="newEntryWindow"
      @closeWindow="newEntryWindow = $event"
    />
  </el-container>
</template>

<script>

import NewEntry from './NewEntry'
import Calendar from './Calendar'
import { mapActions, mapGetters } from 'vuex'

export default {
  components: { NewEntry, Calendar },
  data () {
    return {
      entryId: '',
      hours: 0,
      date: '',
      newEntryWindow: false,
      index: null,
      show: true,
      mainIcon: 'default',
      iconAfterHover: 'hover',
      animType: 'fade',
      event: 'click',
      eventCustom: 'custom',
      btnStatus: true
    }
  },

  computed: {
    ...mapGetters([
      'entries',
      'loading'
    ]),

    contentVisible () {
      if (this.entries === null || this.entries.length) {
        return true
      } else {
        return false
      }
    }
  },

  mounted () {
    this.fetchEntries()
  },

  beforeDestroy () {
    this.resetData()
  },

  methods: {
    ...mapActions([
      'fetchEntries'
    ]),
    openWind (content) {
      this.date = content.date
      this.hours = content.hours
      this.entryId = content.id
      this.newEntryWindow = content.status
    },

    addNewEntry () {
      this.resetData()
      this.newEntryWindow = true
    },

    resetData () {
      this.entryId = null
      this.hours = 0
      this.date = ''
    },

    changeIcon () {
      this.btnStatus = !this.btnStatus
    }
  }
}
</script>

<style lang="scss" scoped>
  .el-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .el-container {
    overflow: none;
    flex-direction: column;
    width: 85%;
  }
</style>
