<template>
  <div>
    <div class="logo-box">
      <transition
        :name="animationType"
        v-on:after-enter="afterEnter"
        v-on:before-leave="beforeLeave"
      >
        <svg
          v-if="showEventStatus"
          key="def"
          class="def-cls"
          @mouseover="changeIconHover()"
          @click="changeIconClick()"
        >
          <use :xlink:href="`${svgPath}#${mainIcon}`"></use>
        </svg>
        <svg
          v-else
          key="hov"
          class="def-cls un"
          @mouseleave="changeIconHover()"
          @click="changeIconClick()"
          ref="hoverLogo"
        >
          <use :xlink:href="`${svgPath}#${iconAfterHover}`"></use>
        </svg>
      </transition>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    mainIcon: {
      type: String
    },
    iconAfterHover: {
      type: String
    },
    animationType: {
      type: String
    },
    event: {
      type: String
    },
    btnStatus: {
      type: Boolean,
      default: null
    }
  },

  data () {
    return {
      hoverShowStatus: true,
      clickShowStatus: true
    }
  },

  computed: {
    svgPath () {
      return require(`../icons/chart_sprite.svg`)
    },

    showEventStatus () {
      if (this.event === 'click') {
        return this.clickShowStatus
      }
      if (this.event === 'hover') {
        return this.hoverShowStatus
      }
      if (this.event === 'custom') {
        return this.btnStatus
      }
      return false
    }
  },

  methods: {
     changeIconHover () {
      this.hoverShowStatus = !this.hoverShowStatus
    },

    changeIconClick () {
      this.clickShowStatus = !this.clickShowStatus
    },

    afterEnter () {
      if (!this.showEventStatus) {
        this.$refs.hoverLogo.classList.remove('un')
      }
    },

    beforeLeave () {
      if (this.showEventStatus) {
        this.$refs.hoverLogo.classList.add('un')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .logo-box {
    position: relative;
    width: 100%;
  }

  .un {
    position: absolute;
    top: 0;
    left: 48.7%;
  }

  .def-cls {
    width: 40px;
    height: 40px;
  }

  .fade-enter-active {
    animation: appear .3s linear forwards;
  }

  .fade-leave-active {
    animation: disappear .3s linear forwards;
  }

  .translate-enter-active {
    animation: goToRightAppear .5s linear forwards;
  }

  .translate-leave-active {
    animation: goToRightDisappear .5s linear forwards;
  }

  @keyframes disappear {
    0% {
      opacity: 1
    }
    100% {
      opacity: 0;
      display: none;
    }
  }

  @keyframes appear {
    0% {
      display: block;
      opacity: 0;
    }
    100% {
      opacity: 1;
      position: none;
    }
  }

  @keyframes goToRightDisappear {
    0% {
      opacity: 1;
    }
    100% {
      transform: translateX(30px);
      opacity: 0;
      display: none;
    }
  }

  @keyframes goToRightAppear {
    0% {
      display: block;
      transform: translateX(-30px);
      opacity: 0;
    }
    100% {
      opacity: 1;
      display: none;
    }
  }
</style>
