<template>
  <div class="window-container">
    <div class="form-container">
      <el-form @submit.native.prevent="onSubmit()">
        <el-form-item :label="$t('date')">
          <el-date-picker
            :disabled="checkEntryId"
            v-model="dateValue"
            type="date"
            :placeholder="$t('pickDayMess')">
          </el-date-picker>
        </el-form-item>
        <el-form-item :label="$t('hoursMess')">
          <el-input-number
            v-model="hoursNumber"
            :min="startNumber"
            :max="24"
          ></el-input-number>
        </el-form-item>
        <el-form-item>
          <el-button
            type="primary"
            native-type="submit"
            :loading="loading"
            :disabled="$v.$invalid"
            @click="onSubmit()"
          >
            {{ $t('submit') }}
          </el-button>
          <el-button
            plain
            @click="closeWindow()"
          >
            {{ $t('close') }}
          </el-button>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>

import { mapActions, mapGetters } from 'vuex'
import { required } from 'vuelidate/lib/validators'
import * as moment from 'moment/moment'

export default {
  props: {
    date: {
      type: String,
      default: ''
    },
    hours: {
      type: Number,
      default: 0
    },
    entryId: {
      type: String
    }
  },
  data () {
    return {
      dateValue: '',
      hoursNumber: 0,
      id: null,
      startNumber: 0
    }
  },

  validations: {
    dateValue: {
      required,
      checkDate (value) {
        if (this.entries === null || this.entryId !== null) {
          return true
        }
        const dates = []
        this.entries.forEach(element => {
          dates.push(element.date)
        })
        return !dates.includes(moment(value).format('YYYY-MM-D'))
      }
    },
    hoursNumber: {
      required
    }
  },

  computed: {
    ...mapGetters([
      'loading',
      'entries'
    ]),

    checkEntryId () {
      return this.entryId !== null || this.date !== ''
    }
  },

  mounted () {
    this.hoursNumber = this.hours
    this.startNumber = this.hours
    this.dateValue = this.date
    this.id = this.entryId
  },

  methods: {
    ...mapActions([
      'createEntry',
      'fetchEntries',
      'updateEntry'
    ]),

    onSubmit () {
      const entry = {
        date: !this.checkEntryId ? moment(this.dateValue).format('YYYY-MM-D') : this.dateValue,
        hours: this.hoursNumber
      }
      if (this.entryId) {
        this.updateEntry({ id: this.entryId, hours: this.hoursNumber })
          .catch(err => console.log(err))
      } else {
        this.createEntry(entry)
          .catch(err => console.log(err))
      }
      this.closeWindow()
    },
    closeWindow () {
      this.$emit('closeWindow', false)
    }
  }
}
</script>

<style lang="scss">
  .window-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($color: #3d3d3d, $alpha: .5);
    display: flex;
    justify-content: center;
    align-items: center;
    .form-container {
      border-radius: 10px;
      padding: 2rem 10rem;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .el-form-item {
        label {
          float: none;
        }
      }
    }
  }
</style>
