<template>
  <el-container class="el-container">
    <el-aside
      :width="assideWidth"
    >
      <img
        src="./img/planet.jpg"
        alt=" Random image"
        class="random-img"
      >
    </el-aside>
    <el-container class="container">
      <div
        class="langs"
        v-if="!headerVisability"
      >
        <el-button-group>
          <el-button
            size="mini"
            @click="setLocale('en')"
          >
            <flag iso="us"></flag>
          </el-button>
          <el-button
            size="mini"
            @click="setLocale('ru')"
          >
            <flag iso="ru"></flag>
          </el-button>
        </el-button-group>
      </div>
      <el-header v-if="headerVisability">
        <el-row
          style="width: 100%"
          type="flex"
          justify="space-between"
        >
          <el-col
            :span="4"
          >
            <img
              :src="imagePath"
              alt=" Logo"
            >
          </el-col>
          <el-col
            :span="3"
            class="user-email"
          >
            <p>{{ user.email }}</p>
          </el-col>
          <el-col>
            <el-menu
              class="el-menu-demo"
              mode="horizontal"
              @select="handleSelect"
              :default-active="activeIndex"
            >
              <el-menu-item index="1">
                <router-link
                  tag="p"
                  to="/"
                >
                  <el-link type="primary" :underline="false">{{ $t('homeNav') }}</el-link>
                </router-link>
              </el-menu-item>
              <el-menu-item index="2">
                <router-link
                  tag="p"
                  to="/cards"
                >
                  <el-link type="primary" :underline="false">{{ $t('cards') }}</el-link>
                </router-link>
              </el-menu-item>
            </el-menu>
          </el-col>
          <el-col
            :span="3"
            class="langs-btn"
          >
            <el-button-group>
              <el-button
                size="mini"
                @click="setLocale('en')"
              >
                <flag iso="us"></flag>
              </el-button>
              <el-button
                size="mini"
                @click="setLocale('ru')"
              >
                <flag iso="ru"></flag>
              </el-button>
            </el-button-group>
          </el-col>
          <el-col
            :span="3"
            class="sing-out"
          >
            <el-button @click="signOut()" type="primary">{{ $t('signOut') }}</el-button>
          </el-col>
        </el-row>
      </el-header>
      <el-main :class="mainJustify ? 'justify' : null">
        <p v-if="!isOnline"></p>
        <router-view />
      </el-main>

    </el-container>
  </el-container>
</template>

<script>

import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'app',
  data () {
    return {
      isOnline: navigator.onLine,
      imageName: 'logo.jpeg',
      activeIndex: '1'
    }
  },

  computed: {
    ...mapGetters([
      'isUserLogedIn',
      'user',
      'language'
    ]),
    assideWidth () {
      return this.$route.path !== '/' && this.$route.path !== '/404' && this.$route.path !== '/cards' ? '50%' : '0%'
    },
    mainJustify () {
      return this.$route.path !== '/'
    },
    headerVisability () {
      return this.isUserLogedIn && this.$route.path !== '/404'
    },

    imagePath () {
      return require(`./img/${this.imageName}`)
    }
  },

  mounted () {
    this.checkItemsExistence({ name: 'lang', defValue: process.env.VUE_APP_I18N_LOCALE || 'en' })
      .then(result => {
        import(`./locales/${result}.json`).then(msg => {
          this.$i18n.setLocaleMessage(result, msg)
          this.$i18n.locale = result
          this.setLocaleItem({ name: 'lang', value: result })
        })
      })
    this.checkItemsExistence({ name: 'menuIndex', defValue: '1' })
      .then(res => {
        this.activeIndex = res
      })
  },

  created () {
    window.addEventListener('offline', this.offlineListener)
    window.addEventListener('online', this.onlineListener)
  },

  beforeDestroy () {
    window.removeEventListener('offline', this.offlineListener, false)
    window.removeEventListener('online', this.onlineListener, false)
  },

  methods: {
    ...mapActions([
      'signOutUser',
      'setLocaleItem',
      'getLocale',
      'checkItemsExistence'
    ]),

    signOut () {
      this.signOutUser()
        .then(() => this.$router.push('/login'))
    },
    setLocale (locale) {
      import(`./locales/${locale}.json`).then(msg => {
        this.$i18n.setLocaleMessage(locale, msg)
        this.$i18n.locale = locale
        this.setLocaleItem({ name: 'lang', value: locale })
      })
    },
    setImage (image) {
      this.imageName = image
    },
    handleSelect (key, keyPath) {
      this.setLocaleItem({ name: 'menuIndex', value: key })
    },
    offlineListener (event) {
      const h = this.$createElement

      this.$notify({
        title: 'Network connection problem.',
        message: h('p', { style: 'color: teal' }, 'You have a problem with connection to network. Please, check your internet connection.'),
        type: 'warning'
      })
      this.isOnline = false
    },
    onlineListener (event) {
      this.isOnline = true
    }
  }

}
</script>

<style lang="scss">
  * {
    margin: 0;
    padding: 0;
  }

  html,
  body {
    height: 100%;
  }

  .el-container {
    height: 100vh;
    overflow: none;
    .el-header {
      display: block;
      width: 100%;
      box-shadow: 0px 6px 8px -5px rgba(158,158,158,1);
    }
    .el-main {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .el-aside {
      overflow: hidden;
      .random-img {
        max-width: 100%;
        min-height: 100%;
        overflow: hidden;
      }
    }
    .langs {
      position: absolute;
      top: 2%;
      right: 2%;
    }
  }

  .el-main.justify {
    justify-content: center;
  }

  .el-container.container {
    flex-direction: column;
  }

  .user-email {
    display: flex;
    align-items: center;
  }

  .sing-out {
    display: flex;
    justify-content: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    align-items: center;
  }

  .langs-btn {
    display: flex;
    justify-content: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    align-items: center;
  }

  .el-menu {
    .el-menu-item {
      // padding: 0;
      margin: 0 20px;
    }
  }
</style>
