<template>
  <div
    class="side-menu-container"
    ref="menu"
  >
    <div
      class="filter"
    >
      <h2>{{$t('filter')}}</h2>
      <el-form @submit.native.prevent="submitFiler()">
        <div class="prise-filter">
          <h4>{{$t('price')}}</h4>
          <el-form-item :label="$t('from')">
            <el-input-number
              v-model="priceFilter.from"
              :min="0"
              :max="maxPrice"
            ></el-input-number>
          </el-form-item>
          <el-form-item :label="$t('to')">
            <el-input-number
              v-model="priceFilter.to"
              :min="0"
              :max="maxPrice"
            ></el-input-number>
          </el-form-item>
        </div>
        <el-form-item>
          <h4>{{$t('category')}}</h4>
          <el-checkbox-group v-model="checkList">
            <el-checkbox
              class="category"
              v-for="(category, index) in Array.from(categories)"
              :key="index"
              :label="category"></el-checkbox>
          </el-checkbox-group>
        </el-form-item>
        <el-form-item>
          <el-checkbox v-model="isAvailable" :label="$t('available')" border></el-checkbox>
        </el-form-item>
        <el-form-item>
          <el-button
            type="primary"
            native-type="submit"
          >
            {{ $t('submit') }}
          </el-button>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  data () {
    return {
      priceFilter: {
        from: 0,
        to: 0
      },
      isAvailable: false,
      checkList: [],
      visStatus: false
    }
  },

  computed: {

    ...mapGetters([
      'categories',
      'maxPrice'
    ]),

    categoriesSize () {
      return this.categories.size
    }
  },

  methods: {
    ...mapActions([
      'fetchCards'
    ]),

    submitFiler () {
      this.$emit('submitFiler', {
        from: this.priceFilter.from,
        to: this.priceFilter.to,
        avilable: this.isAvailable,
        checkList: this.checkList
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  .side-menu-container {
    width: 20%;
    .filter {
      width: 100%;
      padding: 0 10px 20px;
      box-sizing: border-box;
      .prise-filter {
        width: 40%;
      }
      h2 {
        margin-bottom: 10px;
      }
    }
  }

  .category {
    display: block;
  }
</style>
